* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 17fr 1fr; 
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}
.logo {
  text-align: left;
}
.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 3fr 4fr;
}
.menu>ul{
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}
li {
  list-style: none;
}

.sidebar {
  background-color: #FF7755;
  grid-column: 1 / span 1;
  grid-row: 2 / span 2; 
  display: grid;
  gap: 50px;
  
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.side-content, .photo {
  display: grid;
  align-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
}
.nav>ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
